body{
  background-color: gray;
}
.content{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: palevioletred;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
}

#display{
  width: 100%;
}

#slider{
  width: 100%;
}

#lenth{
  display: inline-block;
  width: 100px
}

.previous_passwords{
  margin-bottom: 20px;
}